.footer-contaier {
  margin: 0rem 5rem;
  margin-bottom: 40px;
}

.footer-tabs {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  margin-top: 100px;
  width: 100%;
}

.footer-nav-tabs {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.footer-grey-tabs {
  color: #6b6084;
  margin-top: 30px;
  font-weight: 400;
  cursor: pointer;
}
.footer-grey-tabs-child {
  color: #6b6084;
  font-weight: 400;
  cursor: pointer;
}

.footer-gradient-text {
  background: linear-gradient(
    to right,
    #c4d7e6 0,
    #8501ff 0%,
    #ff6d03,
    49%,
    #da06ff 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.25rem;
}

.footer-others {
  /* margin: 0px 32px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  color: #6b6084;
  font-size: 18px;
  font-weight: 500;
}

.footer-icons {
  display: flex;
  align-items: center;
}
.footer-icon-container {
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6b6084;
}
.footer-insta-icon {
  color: #6b6084;
  font-size: 22px;
  transition: all 0.3s;
}
.footer-twitter-icon,
.footer-linkedin-icon,
.footer-facebook-icon {
  color: #6b6084;
  font-size: 18px;
  transition: all 0.3s;
}
.footer-insta-icon:hover {
  color: #fff;
  background: #833ab4;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  border-radius: 3px;
  /* color: transparent;
  background-clip: text; */
}
.footer-twitter-icon:hover {
  color: #000;
}
.footer-facebook-icon:hover {
  color: #316ff6;
}
.footer-linkedin-icon:hover {
  color: #0077b5;
}
/* mobile footer styles */

.mobile-footer {
  display: none;
  row-gap: 30px;
  margin-bottom: 5%;
  margin-top: 40px;
}

.keep-text {
  color: #0d0225;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contact-us-btn {
  width: 160px;
  height: 40px;
  border-radius: 8px;
  background: #0047ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}

.start-conversation {
  color: #6b6084;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contact-mails {
  background: linear-gradient(
    to bottom,
    #c4d7e6 0,
    #8501ff 0%,
    #ff6d03,
    49%,
    #da06ff 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 16px;
  font-weight: 600;
}

.footer-accordion {
  padding: 10px;
}

.foo-line {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.footer-accordion-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-accordion-top > p {
  color: #0d0225;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.socialLinks {
  display: flex;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.terms {
  color: #6b6084;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.copy-rights {
  color: #6b6084;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 20px;
}

.mbfooter-links {
  color: #6b6084;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .footer-contaier {
    display: none;
  }

  .mobile-footer {
    display: flex;
    flex-direction: column;
  }
}
