.nav-container {
  background: #0d0225;
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.navbar {
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar.hide {
  transform: translateY(-100%);
}

.navbar.show {
  transform: translateY(0);
}
/* .logo-rotate {
  animation: rotate 5s ease-in-out;
} */

.nav-left {
  display: flex;
  align-items: center;
  /* justify-content: centeru; */
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px 80px;
}

.nav-items,
.dropdown-name {
  font-size: 16px;
  letter-spacing: 1px;
  /* margin: 0px 20px; */
  opacity: 0.5;
}
.nav-items:hover,
.nav-item-active {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  /* margin: 0px 20px; */
  opacity: 1;
}

a {
  text-decoration: none;
  color: white;
}

.nav-items.active {
  opacity: 1;
  font-weight: 600;
}

.nav-items:hover {
  cursor: pointer;
}

.nav-item-whatsnew {
  width: 178px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 10px;
  background-color: #0047ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.dropdown {
  position: relative;
  cursor: pointer;
}
/* pk */
.dropdown:hover{
  color: #fff;
  
}
.dropdown-name:hover{
  color: #fff;


}

.dropdown-links {
  background-color: #fff;
  flex-direction: column;
  position: absolute;
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px 0px;
  display: none; /* Initially hidden */
  z-index: 999;
  width: 200px;
  opacity: 0; /* For transition effect */
  visibility: hidden; /* Prevents interaction when hidden */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth animation */
}
.res-drop-down-container {
  position: absolute;
  top: 40px;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  width: 10rem;
  border-radius: 10px;
  border: 1px solid #0001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dropdown-links.active {
  display: flex;
  opacity: 1; /* Makes it visible */
  visibility: visible;
}
.res-drop-down-container-item {
  padding: 0.5rem;
  color: #000;
}
.res-drop-down-container-item:hover {
  border-left: 3px solid #0047ff;
}
.drop-items {
  color: #0d0225;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0px 10px;
  padding: 10px;
  position: relative;
}

.drop-items:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-left: 4px solid #0047ff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.drop-items:hover {
  background-color: #eaeffc;
  border-radius: 4px;
}

.mobile-nav {
  margin-right: 20px;
  display: none;
}

.whats-new {
  position: absolute;
  top: 80px;
  min-height: 60vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  left: 0;
}
.nav-whats-new-item {
  opacity: 0.5;
}
.nav-whats-new-item:hover {
  opacity: 1;
  font-weight: 600;
}
.whats-new-left {
  width: 25%;
  min-height: 60vh;
  display: flex;
  /* background-color: #0047FF; */
}

.whats-new-links {
  /* background-color: chocolate; */
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}

.whats-new-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 1px solid #cadbea;
  padding: 25px 0px;
  cursor: pointer;
}
.whats-new-link:hover {
  color: #0047ff;
}
.whats-new-link-active-start {
  width: 1rem;
  transform: scale(0);
  object-fit: contain;
  transition: all 0.3s;
  margin-left: 0.5rem;
}
.whats-new-link:hover .whats-new-link-active-start {
  transform: scale(1);
}

.whats-new-right {
  width: 75%;
  /* min-height: 60vh; */
  height: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-color: aquamarine; */
}

.whats-new-box {
  /* height: 300px; */
  background-color: pink;
  border-radius: 20px;
}
.whats-new-right-grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  height: 60dvh;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
.whats-new-right-grid-container > div {
  /* background-color: red; */
}
.whats-new-right-grid-container > div:nth-child(1) {
  grid-row: 1 / span 2; /* Span two rows */
}
.whats-new-right-grid-container > div:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.whats-new-right-grid-container > div:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}
.whats-new-grid-item {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  padding: 1.5rem;
  box-sizing: border-box;
  position: relative;
}
.whats-new-grid-item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(13, 2, 37);
  background: linear-gradient(
    180deg,
    rgba(13, 2, 37, 0.20211834733893552) 50%,
    rgba(13, 2, 37, 1) 100%
  );
  border-radius: inherit;
}
.whats-new-grid-item-des {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.whats-new-grid-left {
  grid-row: 1 / span 3;
}
.row-span {
  grid-row: 1/3;
}

.whats-new-grid-left {
  /* width: 60%; */
  /* height: 100%; */
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  border-radius: 20px;
}

.whats-new-grid-left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* .whats-new-grid-right {
  width: 40%;
  height: 100%;
  /* background-color: aquamarine; */
/* display: flex;
  flex-direction: column; */
/* row-gap: 15px; */
/*} */

.whats-new-grid-top {
  width: 100%;
  /* height: 50%; */
  background-color: brown;
  border-radius: 20px;
}

.whats-new-grid-top > img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 20px;
}

.whats-new-grid-bottom {
  width: 100%;
  /* height: 50%; */
  background-color: red;
  border-radius: 20px;
}

.whats-new-grid-bottom > img {
  width: 100%;
  height: 100%;
  /* object-fit: cover;--------- */
  border-radius: 20px;
}

/* .whats-new-line{
  width: 100%;
  height: 1px;
  background-color: #CADBEA;s
} */

/* .whats-new > a {
  color: rgba(255, 255, 255, 0.50);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
} */

@media (max-width: 1024px) {
  .nav-container {
    height: 70px;
  }

  .mobile-nav {
    display: block;
  }

  .nav-logo {
    width: 140px;
    height: 30px;
  }

  .nav-items-container {
    margin: 0px 20px;
  }

  .nav-items {
    display: none;
  }

  .dropdown {
    display: none;
  }

  .nav-item-whatsnew {
    display: none;
  }

  .nav-right > div {
    display: none;
  }

  .nav-right > img {
    width: 25px;
    height: 25px;
  }

  .mobile-whatsnew {
    display: none;
  }
  .nav-container {
    display: none;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
