.resource-nav-bar {
    width: 100%;
    padding: 50px 0px;

}

.resource-nav-links {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 124px;
    background-color: red;
}

.resource-link:hover {
    color: #ffffff; 
}


.resource-link {
    color: #0D0225;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

