.reusable-art-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 3rem 5rem;
}
.reusable-art-card {
  width: 100%;
}
.reusable-art-img-container {
  width: 100%;
  border-radius: 1rem;
}
.reusable-art-img-container > img {
  aspect-ratio: 16/9;
}
.reusable-art-title {
  font-family: EuclidSemiBold;
  font-size: 1.75rem;
  text-align-last: left;
}
.reusable-art-des {
  color: #6b6084;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.25rem;
}
.reusable-art-content-container {
  padding: 1rem 0rem;
}
.reusable-art-know-more {
  color: #0047ff;
  font-weight: 600;
  padding: 0.5rem 0rem;
  width: fit-content;
}
.reusable-art-know-more:hover {
  color: #fff;
  background-color: #0047ff;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .reusable-art-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  .reusable-art-title {
    font-size: 1.5rem;
  }
  .reusable-art-des {
    font-size: 1rem;
  }
}
