.articles-title {
  color: #e0e0e0;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 90%;
  margin: 0rem auto;
  margin-top: 12rem;
}
.article-outline-holder {
  max-height: 40vh;
  align-items: flex-end;
  display: flex;
}

.single-article-card-image {
  background-image: linear-gradient(to bottom, #0d022500, #0d0225cc),
    url("../../assets/artHomeImg.png");
  height: 40vh;
  width: 547px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  font-family: "Euclid";
  filter: grayscale(100%);
  margin-left: 1rem;
  margin-right: 1rem;
  align-self: flex-end;
  transition: all 0.3s ease;
}

.article-text-container {
  display: none;
  /* Hide the text container by default */
}

.single-article-card-image:hover .article-text-container {
  display: block;
  /* Show the text container when hovering over the image */
}

.article-slider {
  display: flex;
  align-items: flex-end;
  /* height: 579px; */
  height: 70vh;
  /* background-color: pink; */
  width: 100%;
}

.single-article-card-image:hover {
  filter: grayscale(0);
  height: 60vh;
}

.article-text-container {
  padding: 0 3rem 2rem 2rem;
}

.article-author-name {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 1rem 0;
}

.card-article-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
}

.card-article-body {
  font-size: 1.15rem;
  font-weight: 400;
  margin: 1rem 0;
  line-height: 2.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-learn-more-link {
  color: #0047ff;
  user-select: none;
}

/* Mobile Article styles*/
.mobile-article {
  padding: 1.5rem;
}
.mobile-article-title {
  color: #e0e0e0;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 2rem auto;
}
.mobile-article-card-container {
  display: flex;
  overflow-x: auto;
  column-gap: 1.5rem;
}
.mobile-article-card-container::-webkit-scrollbar {
  display: none;
}
.mobile-article-card {
  min-width: 90%;
  background-image: linear-gradient(to bottom, #0d022500, #0d0225cc),
    url("../../assets/artHomeImg.png");
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1.5rem;
}
.mobile-article-card-content {
  margin-top: 30%;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .article-outline-holder,
  .article-slider,
  .articles-title {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .mobile-article {
    display: none;
  }
}
